<section class="form">
  <form [formGroup]="form" (ngSubmit)="login($event)" >
    <h2>Inicio de sesión</h2>
    <div class="inp">
      <span>Usuario: </span>
      <input formControlName="email" type="text" name="" id="">
    </div>
    <div class="inp">
      <span>Password: </span>
      <input formControlName="password" type="password">
    </div>
    <div class="inp">
      <input type="submit" value="OK">
    </div>
  </form>
</section>
